.export-pdf {
    top: 10px !important;
    height: calc(100vh - 10px) !important;
    min-width: 1000px !important;
    width: fit-content !important;
    display: flex;
    
    .ant-modal-content {
        flex-direction: column;
        display: flex;
        flex: auto;
        
        .ant-modal-body {
            overflow-y: auto;
            display: flex;
            flex: auto;
        }
    }

    &--content {
        display: flex;
        flex: auto;
    }
}